{
  "presets": [
    "react",
    ["env",
      {
        "modules": false,
        "browsers": ["last 2 Chrome versions"],
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-regenerator",
    "react-hot-loader/babel",
    "babel-plugin-transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        ["env",
          {
            "modules": "commonjs",
            "browsers": ["last 2 Chrome versions"],
          }
        ]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
      ]
    }
  }
}
