{
  "presets": [
    "react",
    ["env",
      {
        "modules": false,
        "browsers": ["last 2 Chrome versions"],
      }
    ]
  ],
  "plugins": ["react-hot-loader/babel", "babel-plugin-transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": [
        "react",
        ["env",
          {
            "modules": "commonjs",
            "browsers": ["last 2 Chrome versions"],
          }
        ]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
